<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>

<p>
  <strong>Ingredients:</strong>
  <% @cocktail.doses.each do |dose| %>
  <ul>
    <li>
      <%= dose.ingredient.name.capitalize %> - <%= dose.description %>
      <%= link_to raw('<i class="far fa-trash-alt"></i>'), dose, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  </ul>
  <% end %>
</p>

<%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail) %>
<%= link_to raw('<i class="far fa-trash-alt"></i>'), @cocktail, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Cancel', cocktails_path %>

